<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerList</servlet-name>
        <servlet-class>SERVLET.ControllerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCart</servlet-name>
        <servlet-class>SERVLET.ControllerCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>SERVLET.ControllerGen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pagPrincipal</servlet-name>
        <servlet-class>SERVLET.pagPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compra</servlet-name>
        <servlet-class>SERVLET.Compra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerList</servlet-name>
        <url-pattern>/ControllerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCart</servlet-name>
        <url-pattern>/ControllerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/ControllerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pagPrincipal</servlet-name>
        <url-pattern>/pagPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compra</servlet-name>
        <url-pattern>/Compra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
